.App {
  padding-top: 25vh;
  padding-bottom: 25vh;
  background: linear-gradient(to right bottom, #6A9113, #141517);
  box-sizing: content-box;
}
.login{
  width: 30%;
  height: 50vh;
  margin: 0 auto;
  border-radius: 10px;
  background-color: grey;
}

.newline{
  width: 100%;
  height: 30px;
}

.login form span{
  width: 25%;
  display: inline-block;
  padding-left: 10px;
}

.login figure{
  width: 100%;
  height: 15vh;
  margin-bottom: 20px;
}

.login figure img{
  margin-top: 10px;
  width: 20%;
  margin-left: 40%;
  height: 80%;
}

.btn{
  padding: 5px
}

.login-btn{
  width: 24%;
  margin-left: 38%;
  background-color: green;
  border-color: #fff;
  border-radius: 5px;
  color: #fff;
  height: 5vh;
}
.actual-list{
  max-height: 70vh;
  border-color: inherit;
}

.List{
  background-color: #fff;
  height: 75vh;
  padding-bottom: 20px;
  box-sizing: content-box;
  width: 80%;
  margin: 4vh auto 0 auto;
  padding: 20px;
  box-shadow: 1px 1px 8px 8px rgba(255, 255, 255, .2);
}

.home{
  background:
    linear-gradient(
      rgba(124,252,0, 0.3),
      rgba(0,100,0, 0.6)
    ),
    url(images/mbg.jpg);
  background-size: cover;
  height: 100vh;
}

.name, .adm, .more-info{
  height: 50px;
  line-height: 50px;
}

.name{
  margin-left: 20px;
}

.name, .id, .more-info{
  width: 30%;
}

.row input[type="button"]{
  height: 30px;
}

.nav{
  height: 10vh;
  border-bottom: 1px solid #fff;
  margin-bottom: 10px;
}
.nav figure{
  height: 8vh;
  width: 10%;
}
.nav figure img{
  height: 100%;
  width: 50px;
  margin: 1vh 0 0 2vw;
}

.sdt-btn{
  background-color: grey;
  color: #fff;
  width: 70%;
  height: 50px;
  line-height: 50px;
  box-sizing: content-box;
  border-radius: 5px;
  padding: 7px 10px 7px 10px;
}

.nav-header{
  width: 50%;
  height: 10vh;
  line-height: 10vh;
  font-size: 30px;
}
.cl-white{
  color: #fff;
}
.power{
  text-align: right;
  position: absolute;
  right: 0;
}

.power-btn{
  color: #fff;
  height: 7vh;
  width: 3vw !important;
  margin-top: 1.5vh;
  line-height: 10vh;
  font-size: 30px;
  text-align: left;
  margin-right: 20px;
  box-shadow: 1px 1px 8px 8px rgba(255, 255, 255, .2) !important;
  border-radius: 5px;
}

.menu{
  height: 80vh;
  margin: 20px auto 0 auto;
  width: 60%;
  background-color: #fff;
  box-shadow: 1px 1px 8px 8px rgba(255, 255, 255, .2) !important;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.menu-items{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(images/bg.jpg);
  background-size: cover;
  color: #fff;
  width: 41%;
  height: 41%;
  display: inline-block;
  margin-top: 4%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
}

.menu-items p{
  height: 20%;
  margin-top: 30%;
}

.menu-items p a{
  color: #fff;
  cursor: pointer;
}

.menu-items:first-of-type{
  margin: 0 6% 0 6%;
}

.menu-items:last-of-type{
  margin-left: 29.5%;
}

.menu-container{
  height: 100vh;
  width: 100vw;
  background:
    linear-gradient(
      rgba(124,252,0, 0.3),
      rgba(0,100,0, 0.6)
    ),
    url(images/mbg.jpg);
  background-size: cover;
}

.search-input{
  width: 30%;
  display: inline-block;
}

.lable{
  width: 60%;
  display: inline-block;
}
.toggle{
  display: none;
}
.toggle:checked ~ .mobile-nav-2{
  display: block;
}
.toggle:checked ~ header .mobile-nav-1 label{
  transform: rotate(360deg);
}
.toggle-label, .bm-burger-button button{
  text-align: right;
  position: absolute;
  left: 95vw !important;
  height: 7vh !important;
  width: 3vw !important;
  line-height: 7vh;
  font-size: 50px;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
  top: 0;
}
.mobile-nav-2{
  visibility: hidden;
  background: linear-gradient(to right bottom, rgb(204, 0, 153), rgb(255, 68, 34) 85%);
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.bm-item-list{
  position: absolute;
  top: -100vh;
  background-color: #90EE90;
  padding-top: 50px;
}

.bm-item-list a{
  text-decoration: none;
  color: #000;
  padding-right: 200px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 20px;
}

/* Fees info styles */

h3{
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color: #000;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: underline
}

table{
  font-family: Calibri;
  color: #000;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  text-align:;
  background-color: #fff;
  border-collapse: collapse;
  border: 2px solid navy;
  height: 40vh;
}
table.inner{
  border: 0px
}

.ad-container table{
  margin: 0 auto;
  width: 50vw;
  height: 60vh;
}

.fee-container, .perfomance-container, .ad-container{
  background-color: #90EE90;
  height: 100vh;
}

.rpt-btn{
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  background-color: blue;
  position: absolute;
  left: 80vw;
}
