.App {
  /* background-color: grey */
}
.login{
  width: 30%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 25vh;
  border-radius: 10px;
  background-color: grey;
}

.newline{
  width: 100%;
  height: 30px;
}

.login form span{
  width: 25%;
  display: inline-block;
  padding-left: 10px;
}

.login form input[type="submit"] {
  width: 24%;
  margin-left: 38%;
}

.login figure{
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
}

.login figure img{
  width: 20%;
  margin-left: 40%;
  height: 98%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
